
// COMPLETE FORM PROGRESS BAR

/*form styles*/
.msform {
	margin-top: 50px ;
	text-align: center;

}
/*progressbar*/
.progressbar {
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
	width: 60%;
	margin: 0 auto 0px;
}
.progressbar li {
	list-style-type: none;
	text-transform: uppercase;
	font-size: 11px;
	width: 25%;
	float: left;
	position: relative;
}
.progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 40px;
	line-height: 40px;
	display: block;
	font-size: 20px;
	border-radius: 50%;
    margin: 0 auto 5px auto;
    background: #ececec;
    color: rgb(187, 187, 187);
}
/*progressbar connectors*/
.progressbar li:after {
	content: '';
	width: 100%;
    height: 2px;
    background: #ececec;
	position: absolute;
	left: -50%;
	top: 20px;
	z-index: -1; /*put it behind the numbers*/
}
.progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
.progressbar li.active:before,  .progressbar li.active:after{
	background: #F9A826;
    color: white;
    
}

// END COMPLETE FROM PROGRESS BAR



/*headings*/
.fs-title {
	// font-size: 15px;
	text-transform: uppercase;
    color: #444444;
    margin-top:50px;
	margin-bottom: 20px;
}

.container{
    padding: 1rem ;
    color: #444444;

}

.col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
}
.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

 .registerForm  {
    position: relative;
    padding: 2rem;
    border: .2rem solid #ececec;
    border-radius: 8px;
    margin-right: 0;
    margin-left: 0;
    color: #444444;
    border-width: .1rem ;
    border-radius: 8px 8px;
    background-color: #f0f0f0;
    }

.formbody h2{
    padding-bottom:1.1rem;
}

.errorMessage{
    color:red;
}


//Center courts configuration

.courtcard{
    min-width: 20rem;
    max-width: 50rem;
    margin-top:10px;
}

.card.newcard{
    border-color:#F9CB40;
    margin-top: 0px;

}

.courtcardtitle{
background-color:white;
}

.court-icon{
color: rgb(112, 112, 112);
background-color: white;

}
.court-icon button{
color: rgb(112, 112, 112);
background-color: #f0f0f0;
border-color:white;
border-width: thin;
border-radius: 3px;
}


.courtcardInput{
    font: 400 13.3333px Arial;
    padding: 3px 4px;
    border-width: 1px;
    border-style: inset;
    border-color:#f0f0f0;
    border-color: -internal-light-dark(#f0f0f0, #f0f0f0);
    border-image: initial;



}

.configcourts_message{
    color: #F9A826;
    font-size: small;


}

.newcourts_message{
    color:rgb(112, 112, 112);
    font-size:x-small;
    padding-left: 230px;


}
.next_step{
    font-size: small;
    // padding-left: 170px;
}

.next_step a{
color: rgb(112, 112, 112) ;
background-color: #f0f0f0;
border-color:white;
border-width: thin;
border-radius: 3px;

}

.sporCenterImages{
    margin:auto;
    width:500px ;
    margin-top:15px;
    padding-top:10px;
}

.carousel-inner{
    margin:auto;
    width:100% ;
    margin-top:15px;
    padding-top:10px;
    justify-content: center;
   
}
.carouselImages{
    margin:auto;
    justify-content: center;
}

//Center courts configuration
.carouselImages img{
    max-width: 300px;
    width: auto;
    height:200px;
    

}




// RESUMEN CENTRO DEPORTIVO - TABLA
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #F9CB40;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #F9CB40;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #F9CB40;
}


.fa-circle {
color: rgb(187, 187, 187);


}

.w3-sidebar{
    z-index:3;
    width:300px;
}

.w3-main{
    margin-top: 10px;
    margin-left: 350px;
}

.w3-container{
    padding-top:22px;
}
.w3-row-padding{
    margin:0;
    padding:-16px;
}


.w3-table td, .w3-table th, .w3-table-all td, .w3-table-all th{
    padding: 20px 20px ;
    display: table-cell;
    text-align: left;
    vertical-align: top;
}

// .w3-row-padding, 
// .w3-row-padding > .w3-half, 
// .w3-row-padding > .w3-third, 
// .w3-row-padding > .w3-twothird, 
// .w3-row-padding > .w3-threequarter, 
// .w3-row-padding > .w3-quarter, 
// .w3-row-padding > .w3-col {
//     padding: 0;
// }

.w3-table td i{
    margin-left:20px;
    padding-right: 15px;
}

.center-edit-btn{
    color:rgb(187, 187, 187);
    background-color: transparent;
    border:none;
    padding-left:20px;

}
.first-column{
    font-weight:600;

}
