// COMPLETE FORM PROGRESS BAR
.body{
    margin-top:80px;
}

.body-centers{
     margin-top:90px;

}

.header {
    margin-bottom:40px;
}

.text_xs{
    font-size: x-small;
}

.text_large{
    font-size: large;
    font-weight: 600;

}
.text_xlarge{
    font-size: x-large;
    font-weight: 600;

}
// END COMPLETE FROM PROGRESS BAR

//SIDEBAR

    .chooseCenter-form {
    
    align-items: right;
    padding: 0rem 1rem;
  
    

}



//ELEGIR CENTRO DE RESERVA
 .carousel-img{
        width: 250px;
        height:100%;
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
         }


   .center-reservation {
       .w3-row-padding > .w3-twothird{  
    padding:0px 
       }
        }
    

        .card, .card-hover-shadow:hover {
    //box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px rgba(0,0,0,0.19);
    border-color: white;
   
}


.court-icon{
.booktime {
    display: block;
    position: relative;
    float: left;
    color: #FFF;
    font-weight: bold;
    padding: 0px;
    margin: 2px;
    text-align: center;
    width: 70px;
    
    font: normal 12px/1.8em Arial, Helvetica, sans-serif;
}
.red {
    background-color: #f12245;
    cursor: default;
    text-decoration: none;
    cursor:pointer;
}
.green {
    background-color: #0e8b23;
    cursor: default;
    text-decoration: none;
    cursor:pointer;

    
}

}

.availability_players{
    font-size: x-small;
}





//MIS RESERVAS
.table-reservations{
.w3-table td, .w3-table th, .w3-table-all td, .w3-table-all th{
    padding: 20px 2px ;
    display: table-cell;
    text-align: left;
    vertical-align: top;
}

.w3-table td i{
    margin-left:40px;
    padding-right: px;
}

.w3-table td {
    max-width: 10px;
    margin-left:20px;
    padding-right: px;
}

.first-column{
    font-weight:600;

}
.w3-card-4{
    max-width: 500px;
}
}