#container1{
    max-width:1400px; margin-top:60px
}
#image1{
    height:106px; width:106px
}

#image2{
    width:100%
}

#image3{
    width:100%
}

#image4{
    width:100%
}

#image5{
    width:100%
}

#image6{
    width:100%
}

#image7{
    width:60px
}

#image8{
    width:100%
}

#image9{
    width:100%
}

#image10{
    width:60px
}

#image11{
    width:60px
}

#image12{
    width:100%
}

#image13{
    width:50%
}

#imagex{
    width:100%
}

#imagex{
    width:100%
}


#container2{
    margin:0 -16px
}

.imagePosts{

    width: 100%;
    max-width:6000px;
    max-height:400px
}


.user-image{
    border:none;
}

.upload-img{
    button{
    width: 42px;
    background-color: #f0f0f0;
    height: 35px;
    border-color:white;
    border-width: 2px;
    border-radius: 5px;
    color: rgb(112, 112, 112);
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
    margin-right: 5px;
  
    }
}

.post-btn{
    button{
    min-width: 42px;
    height: 35px;
    border-width: 2px;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
    margin-right: 5px;
    }
}

.text_xs{
    font-size: x-small;
    opacity: 0.60;
}

.username{

    font-size: large;
}