#container1{
    max-width:1400px; margin-top:60px
}
#image1{
    height:106px; width:106px
}

#image2{
    width:100%
}

#image3{
    width:100%
}

#image4{
    width:100%
}

#image5{
    width:100%
}

#image6{
    width:100%
}

#image7{
    width:60px
}

#image8{
    width:100%
}

#image9{
    width:100%
}

#image10{
    width:60px
}

#image11{
    width:60px
}

#image12{
    width:100%
}

#image13{
    width:50%
}

#imagex{
    width:100%
}

#imagex{
    width:100%
}


#container2{
    margin:0 -16px
}

.imagePosts{

    width: 100%;
    max-width:6000px;
    max-height:400px
}


// input[type="file"] {
//     display: none;
// }
