
.navbar{
background-image: linear-gradient(#F9CB40, #F9A826);
}

.iPadel{

    font-size:2.3rem;
    color:#444444 !important;
    padding-bottom: 0;
    margin:0;

}


.slogan{

   color:#444444;
   font-size:0.6rem;
   padding-top: 0;
    margin:0;
    position:relative;
    top:-10px;
    left:4px;

}
