
.container{
    padding: 4rem ;
    color: #444444;

}

.col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
}
.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}


 .registerForm  {
    position: relative;
    padding: 2rem;
    border: .2rem solid #ececec;
    border-radius: 8px;
    margin-right: 0;
    margin-left: 0;
    color: #444444;
    border-width: .2rem ;
    border-radius: 8px 8px;
    }

.formbody h2{
    padding-bottom:1.1rem;
}


Form Label {
    font-weight:500;
}

